<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">{{I18.Title}}</h4>
            <form id="registration-form" method="POST">
                <input type="hidden" value="{{Form.WordCategoryId}}" name="WordCategoryId"/>
                {{> input Field="TranslationId" ValidationError=ValidationErrors.TranslationId Title=I18.Inputs.TranslationId Value=Form.TranslationId}}
                
                {{> submit Title=I18.Buttons.Submit}} 
            </form>
        </article>
    </div> <!-- card.// -->
</div>
