<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Редактирование</h4>
            <form id="registration-form" method="POST">
                <input type="hidden" value="{{Request.body.Id}}" name="Id"/>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="Name" class="form-control {{#if ValidationErrors.Name}}is-invalid{{else}}is-valid{{/if}}" placeholder="name" type="text" value="{{Request.body.Name}}">
                    {{#if ValidationErrors.Name}}
                        <div class="invalid-feedback">{{ValidationErrors.Name}}</div>
                    {{/if}}
                </div> <!-- form-group// -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Редактировать </button>
                </div> <!-- form-group// -->
            </form>
        </article>
    </div> <!-- card.// -->
</div> 
<!--container end.//-->
<br><br>
<article class="bg-secondary mb-3">  
    <div class="card-body text-center">
        <h3 class="text-white mt-3">Спасибо, что посетили наш сайт</h3>
    </div>
    <br><br>
</article>