<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
	<div class="card bg-light">
		<article class="card-body mx-auto" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center">Регистрация</h4>
			<form method="POST" class="{{form_class}}" novalidate>
				<div class="form-group input-group">
					<div class="input-group-prepend">
			    		<span class="input-group-text"> <i class="fa fa-user"></i> </span>
			 		</div>
	        		<input name="name" class="form-control" placeholder="имя" type="text" required>
			 	</div> <!-- form-group// -->
	    		<div class="form-group input-group">
	    			<div class="input-group-prepend">
			    		<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
			 		</div>
	        		<input name="email" class="form-control" placeholder="e-mail" required type="email" ">
	        	</div> <!-- form-group// -->
	    		<div class="form-group input-group">
	    			<div class="input-group-prepend">
			    		<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
					</div>
	    			<input name="phone" class="form-control" placeholder="номер телефона" type="text" required>
	    		</div> <!-- form-group// -->
	    		<div class="form-group input-group">
	    			<div class="input-group-prepend">
			    		<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
	        		<input name="password" class="form-control" placeholder="придумайте пароль" type="password" required>
	        	</div> <!-- form-group// -->
	    		<div class="form-group input-group">
	    			<div class="input-group-prepend">
			    		<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
	        		<input name="repeat_password" class="form-control" placeholder="повторите пароль" type="password" required>
	    		</div> <!-- form-group// -->                                      
	    		<div class="form-group">
	        		<button type="submit" class="btn btn-primary btn-block"> Регистрация </button>
	    		</div> <!-- form-group// -->      
	    		<p class="text-center">Уже зарегистрированы? <a href="">Войти</a> </p>
			</form>
		</article>
	</div> <!-- card.// -->
</div> 
<!--container end.//-->
<br><br>
<article class="bg-secondary mb-3">  
	<div class="card-body text-center">
    	<h3 class="text-white mt-3">Спасибо, что посетили наш сайт</h3>
	</div>
	<br><br>
</article>


<script type="text/javascript">
	// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  "use strict";
  window.addEventListener("load", function() {
    var form = document.getElementById("needs-validation");
    form.addEventListener("submit", function(event) {
      if (form.checkValidity() == false) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add("was-validated");
    }, false);
  }, false);
}());
</script>>