<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
    </div>
    <input type="checkbox" name="{{Field}}" {{#if Value}}checked{{/if}}/> {{Title}}
</div>