<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">{{I18.Title}}</h4>
            <form id="registration-form" method="POST">
                <input type="hidden" value="{{Request.body.Id}}" name="Id"/>
                {{> input Field="Name" ValidationError=ValidationErrors.Name Title=I18.Inputs.Name Value=Request.body.Name}}
                {{> input Field="Email" ValidationError=ValidationErrors.Email Title=I18.Inputs.Email Value=Request.body.Email}}
                {{> input Field="Phone" ValidationError=ValidationErrors.Phone Title=I18.Inputs.Phone Value=Request.body.Phone}}
                {{> input Field="Password" ValidationError=ValidationErrors.Password Title=I18.Inputs.Password Value=Request.body.Password}}
                {{> input Field="RepeatPassword" ValidationError=ValidationErrors.RepeatPassword Title=I18.Inputs.RepeatPassword Value=Request.body.RepeatPassword}}

                {{> submit Title=I18.Buttons.Submit}}
            </form>
        </article>
    </div>
</div>