<table border="1px">
    <tr>
        <td> {{I18.Table.Titles.Name}} </td>
        <td> {{Name}} </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.Email}} </td>
        <td> {{Email}} </td>
    </tr>
</table>